doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bundle.css')
    script(src='/fromserver.js')
  body
    div.wrapper
      div.hacker-news-list
        h2
          a(href='/') Main page
        block content